mediapipe==0.10.21
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
onnxruntime==1.23.2
supervision==0.25.1
numpy==1.26.4
Pillow==12.3.0
PySide6>=6.11.2,<6.12
cv2-enumerate-cameras==1.3.3
win11toast==0.36.3
pywin32==311
comtypes==1.4.16
jax==0.7.1
jaxlib==0.7.1
